body{
    background-image: url("1572604052_ES9Hw6_Rapido.jpg");
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}
.container{
    background: rgba(207, 48, 48, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
}
.login-box{
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.login-box h2{
    margin:20px;
}
.login-box form{
    display: 10px;
    margin: 5px 0;
    border: 1px solid #5f5858;
    border-radius: 12px;
}
.login-box button{
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.login-box button:hover{
    background-color: #4a4b4c;
}
.login-container.active.login-box{
    transform: translate(-20px);
}


.button-list {
    list-style: none;;
    padding: 0;
    margin: 0;
    display: flex;; 
}


.button-container {
    position: relative;
}


.button-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display items horizontally */
     /* Add a background color to the button container */
    padding: 10px; /* Add some padding for spacing */
    position: absolute;
    top: 0;
    left: 0;
}

/* Style for individual buttons */
.button-list li {
    margin-right: 10px; /* Add spacing between buttons */
}

.button {
    padding: 10px 20px;
    background-color: #5a5d60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #38393a; /* Change color on hover */
}

  
  
 
  
  