body{
    background-image: url("rtt.jpg");
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 25px;
    padding: 25px;
}
.container{
    background: rgba(75, 79, 78, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
}
.login-box{
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.login-box h2{
    margin:5px;
}
.login-box form{
    display: 12px;
    margin: 12px 0;
    border: 1px solid #5f5858;
    border-radius: 12px;
}
.login-box button{
    padding: 10px;
    background-color: #c74426;
    color:wheat;
    border:currentColor;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.login-box button:hover{
    background-color: #195998;
}
.login-container.active.login-box{
    transform: translate(-20px);
}

.button-list {
    list-style: none;;
    padding: 0;
    margin: 0;
    display: flex;; 
}


.button-container {
    position: relative;
}


.button-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 

    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}


.button-list li {
    margin-right: 10px;
}

.button {
    padding: 10px 20px;
    background-color: #be1e1e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #267cd2;
}

  
  

 
  
  